<% provide(:title,"") %>
<div class="center hero-unit">
  <h1>Welcome to RNRdb</h1>

  <h2>the Ribonucleotide Reductase Database</h2>
  

  <%= link_to "Browse Profiles", hmm_profiles_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
