<div class="center hero-unit">
  <h1>Welcome to RNRdb</h1>
  
  <h2>
    This is a part of the pfitmap.
  </h2>
  <%= link_to "Browse Profiles", profiles_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
