<tr>
  <td> <%= hmm_result.sequence_source.source %> </td>
  <td> <%= hmm_result.sequence_source.name %> </td>
  <td> <%= hmm_result.sequence_source.version %> </td>
  <td> <%= link_to "show", hmm_result %> </td>
</tr>
