<% provide(:title, 'HMM Profiles') %>
<!-- Include javascript for the expandable profile tree --> 
<%= javascript_include_tag "expandable_list" %>
<div class="pageheader1">
  <div class="row">
    <div class="span6">
      <h1>Listing HMM-Profiles</h1>
    </div>
  </div>
</div>
<div class="row">
  <aside class="span4">
   <%= link_to 'Create New HMM Profile', new_hmm_profile_path, :class => "btn"%>
  </aside>
  <div class="main-content span8">
    <h3>Click on plus-sign to expand</h3>
    <div id="listContainer">
      <ul id="expList">
	<%= list_children @hmm_profiles_last_parents.sort_by { |a| a.hierarchy } %>
      </ul>
    </div>
  </div>
</div>
