<% provide(:title, 'Profiles') %>
<h1>Listing profiles</h1>


<ul class="profiles">
  <% @profiles.each do |profile| %>
  <li>
    <%= link_to profile.name, profile %>
    <%= profile.parent_profile_id %>
  </li>
  <% end %>
</ul>
