<% provide(:title, @profile.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
	<%= @profile.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @profile.results.any? %>
    <h3>Results (<%= @profile.results.count %>)</h3>
    <ol class="results">
      <%= render @results %>
    </ol>
    <%= will_paginate @results %>
    <% end %>
  </div>
</div>
