<div class="row">
  <div class="pageheader1 span12">
    <h1>Expanding the Tree of Life</h1>
    <h2>(Only Whole Genome Sequenced Organisms)</h2>
  </div>
  <aside class="span4">
    <div id="listContainer">
      <ul id="expListAjax">
	<%= list_taxon_children @taxon_root %>
      </ul>
    </div>
  </aside>
</div>
