<h1>Editing load_database</h1>

<%= render 'form' %>

<%= link_to 'Show', sequence_database_load_database_path(@sequence_database,@load_database) %> |
<%= link_to 'Back', sequence_database_path(@sequence_database) %>
