a:link {color:#0000FF;}      /* unvisited link */
a:hover {color:#00FF00;}  /* mouse over link */
a:active {color:#FF0000;}  /* selected link */ 

#heat_map
{
	position: relative;
	float: left;	
}
#heat_map table {
	font-size: 10px;
	border: thin solid;
	border-bottom-style: solid;  
}

#enzyme_selector {
	width: 100%;	
}
#enzyme_selector li {
	padding-right: 4px;
	display: inline-block;
	text-decoration: underline;
}

#taxa_selector {
	position: relative;
	float: left;
	padding: 3px;
}

#taxa_selector ul {
}
.link_selector ul {
	text-decoration: underline;
	color: blue;
	list-style: none;
}

