a:link { /* unvisited link */
	color:#0000FF;
}
a:hover { /* mouse over link */
	color:#00FF00;
}
a:active { /* selected link */
	color:#FF0000;
}   

body {
	font-size: 12px;
	font: Arial;
}

#heat_map
{
	position: relative;
	float: left;
	overflow: visible;
}
#heat_map table {
	border: thin solid;
	border-bottom-style: solid;
	overflow: visible;
}

#enzyme_selector {
	width: 100%;	
}
#enzyme_selector li {
	padding-right: 4px;
	display: inline-block;
}

#taxa_selector {
	position: relative;
	float: left;
	padding: 3px;
}

#taxa_selector ul {
}
.link_selector ul {
	list-style: none;
}
#to_circos {
	clear: both;	
	
}
#circos {
	display: none;
}

.chord path {
  fill-opacity: .67;
  stroke: #000;
  stroke-width: .5px;
}
