<tr>
  <td> <%= hmm_result.hmm_profile.hierarchy %> </td>
  <td> <%= hmm_result.hmm_profile.name %> </td>
  <td> <%= hmm_result.hmm_profile.version %> </td>
  <td> <%= hmm_result.executed %> </td>
</tr>
