<ul class="nav nav-pills">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Select Proteins
      <b class="caret" ></b>
    </a>
    <ul id="protein_menu" class="dropdown-menu">
      <% @proteins.each do |protein| %>
      <li>
	<%= link_to (protein.name ? protein.name : "no name" ), protein_counts_by_hierarchy_path(protein_counts_array_params({protein_id: protein.id}, params.dup))  %>
      </li>
      <% end %>
      <li class="divider"></li>
      <li>
	<%= link_to "Default", protein_counts_by_hierarchy_path(protein_counts_array_params({protein_id: nil}, params.dup)) %>
      </li>
    </ul>
  </li>
</ul>
