<% if @pfitmap_release %>
<div class="pageheader1">
  <div>
    <h1>Listing Protein Counts</h1>
    <h2>Taxon rank: <%=@taxon_rank ? @taxon_rank : "All" %>, pfitmap_release: <%= @pfitmap_release.release %></h2>
  </div>
  <div>
    <%= render :partial => 'filter_bar_rank' %>
  </div>
  <div>
    <h3> Instructions: </h3>
    Choose what taxon rank and proteins you wish to browse statistics for.
  </div>
  <div id="explanations">
    Explanations of the numbers:
    (<a href="#" rel="tooltip" title="The number of wholy sequenced genomes">GEN</a>|
    <a href="#" rel="tooltip" title="The number of proteins in total for all genomes included">PRO</a>|
    <a href="#" rel="tooltip" title="The number of genomes with at least one of the specified protein present.">GP</a>)
  </div>
</div>

<div id="protein_counts_table">
  <%= render partial: 'protein_counts_table' %>
</div>
<% else %>
<div class="pageheader1">
  <div>
    <h1> Listing Protein Counts </h1>
    <h2> Unfortunately, this statistic is not yet available </h1>
</div>
</div>
<% end %>
