<% if @cm %>
  <div class="pageheader1">
    <div>
      <h1>Listing Protein Counts</h1>
    </div>
    <div>
      <%= render partial: "filter_bar" %>
    </div>
  </div>
  <div id="heat_map">
  </div>
  <div id="ribbon">
  </div>
<% else %>
  <div class="pageheader1">
    <div>
      <h1> Listing Protein Counts </h1>
      <h2> You have not chosen what Pfitmap release you wish to browse.</h1>
    </div>
  </div>
<% end %>

