<tr>
  <td> <%= hmm_result_row.target_name %> </td>
  <td> <%= link_to hmm_result_row.target_acc, hmm_result_row %> </td>
  <td> <%= hmm_result_row.fullseq_evalue %> </td>
  <td> <%= hmm_result_row.fullseq_score %> </td>
</tr>
