<%provide(:title, @sequence.id) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
	Sequence: <%= @sequence.id %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <%= @sequence.seq %>
  </div>
</div>
